<!DOCTYPE html>
<html>
     {{> index }}
    <body>
        <div class="section">
            {{> header}}
            <p>{{screamIt message}}</p>
        </div>
       {{> footer }}
    </body>
</html>
