<!DOCTYPE html>
<html>
    <heda>
        <meta charset="utf-8">
        <title>About page</title>
    </heda>
    <body>
        <div>
            {{> header}}
            <p>{{message}}</p>
        </div>
       {{> footer }}
    </body>
</html>
