<!DOCTYPE html>
<html>
    <heda>
        <meta charset="utf-8">
        <title>Home page</title>
    </heda>
    <body>
        <div>
            {{> header}}
            <p>{{screamIt message}}</p>
        </div>
       {{> footer}}
    </body>
</html>
